.test {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: azure;
    background-color: blueviolet;
    background-color: #C0E0EE;;


    border: none;

}